extends ~index/common/base.pug

block append head
    link(rel="stylesheet" href="/static/assets/ueditor-1.4.3/themes/default/css/ueditor.min.css")
block append scripts
    script(src="/static/assets/ueditor-1.4.3/ueditor.config.js")
    script(src="/static/assets/ueditor-1.4.3/ueditor.all.min.js")
    script(src="/static/assets/ueditor-1.4.3/lang/zh-cn/zh-cn.js")

