extends ~index/common/base.pug

block append head
    link(rel="stylesheet" href="/static/assets/videojs-7.6.5/dist/video-js.min.css")
    link(rel="stylesheet" href="/static/assets/videojs-7.6.5/dist/custom-theme.css")
    link(rel="stylesheet" href="/static/assets/videojs-resolution-switcher-0.4.2/lib/videojs-resolution-switcher.css")
    link(rel="stylesheet" href="/static/assets/videojs-markers-1.0.1/dist/videojs.markers.min.css")
block append scripts
    script(src="/static/assets/videojs-7.6.5/dist/video.min.js")
    script(src="/static/assets/videojs-markers-1.0.1/dist/videojs-markers.min.js")
    script(src="/static/assets/videojs-resolution-switcher-0.4.2/lib/videojs-resolution-switcher.js")
    script(src="/static/assets/videojs-flash-2.2.1/dist/videojs-flash.min.js")
    script(src="/static/assets/videojs-flashls-source-handler-0.0.0/videojs-flashls-source-handler.min.js")



