extends ~phone/common/base.pug
block append scripts
    script(src="/static/assets/vee-validate-2.0.9.1/dist/vee-validate.min.js")
    script(src="/static/assets/vue-i18n-7.6.0/dist/vue-i18n.min.js")



