extends ~index/common/base.pug

block append head
    link(rel="stylesheet" href="/static/assets/webuploader-0.1.8/dist/webuploader.min.css")
block append scripts
    script(src="/static/assets/webuploader-0.1.8/dist/webuploader.html5only.min.js")



