$pf : hk- !global;                            // 项目前缀

//---------------------------------------------------------------------------------
//---------------------------------------- 背景色系--------------------
//---------------------------------------------------------------------------------
$grayLight : #f3f5f9 !global;                 // body背景色
$main-container-bg-color : #fff !global;      //main 中间区域背景色
$list-title-bg-color : #fafafa !global;       //列表title背景色
$admin-title-bg-color : #00284d !global;      //后台管理title背景色

//---------------------------------------------------------------------------------
//---------------------------------------- 文本色系--------------------
//---------------------------------------------------------------------------------
$text-hover-color : #2797eb !global;          //滑上
$text-active-color : #2797eb !global;         //点击选中后
$text-link-color : #2797eb !global;           //可点击及有链接
$text-first-color : #000 !global;             //一级标题
$text-second-color : #333 !global;            //二级标题
$text-third-color : #666 !global;             //三级标题
$text-four-color : #999 !global;              //三级标题
$disabled-color : #999 !global;               //禁用颜色
$warn-text-color : #ff5a5a !global;           //警示颜色

//---------------------------------------------------------------------------------
//---------------------------------------- 导航色系--------------------
//---------------------------------------------------------------------------------
$nav-active-border-color : #2697eb !global;   //选中border
$nav-active-bg-color : #ecf5ff !global;       //选中背景
$admin-nav-active-bg-color : #1890ff !global; //后台管理选中背景
