extends ~index/common/base.pug

block append head
    link(rel="stylesheet" href="/static/assets/webuploader-0.1.8/dist/webuploader.min.css")


block append scripts
    script(src="/static/assets/jquery-1.12.4/jquery.min.js")
    script(src="/static/assets/spark.md5-1.0.1/spark-md5.min.js")
    script(src="/static/assets/webuploader-0.1.8/dist/webuploader.html5only.min.js")
    script(src="/static/assets/fine-uploader/fine-uploader/fine-uploader.core.js")



