doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block head
            link(rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
            link(rel="stylesheet" href="/static/assets/element-ui-2.3.4/lib/theme-chalk/index.css")
    body
        block content
            div#app


        block scripts
            script(src="/static/assets/vue-2.5.17/dist/vue.min.js")
            script(src="/static/assets/babel-polyfill-6.26.0/dist/polyfill.min.js")
            script(src="/static/assets/axios-0.18.0/dist/axios.min.js")
            script(src="/static/assets/element-ui-2.3.4/lib/index.js")
            script(src="/static/assets/vue-router-3.0.1/dist/vue-router.min.js")
            script(src="/static/assets/jquery-1.12.4/jquery.min.js")
            script.
                function getUrlRelativePath() {
                       var url    = document.location.toString();
                       var arrUrl = url.split("//");

                       var start  = arrUrl[1].indexOf("/");
                       var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

                       if (relUrl.indexOf("?") != -1) {
                           relUrl = relUrl.split("?")[0];
                       }
                       return relUrl;
                   }
                    function IsPC() {
                        var userAgentInfo = navigator.userAgent.toLowerCase();
                        var Agents        = ["android", "symbianos", "windows phone",
                            "ipad", "ipod", "iphone", "android", "phone", "mobile",
                            "wap", "netfront", "java", "opera mobi", "opera mini", "ucweb",
                            "windows ce", "symbian", "series", "webos", "sony",
                            "blackberry", "dopod", "nokia", "samsung", "palmsource", "xda",
                            "pieplus", "meizu", "midp", "cldc", "motorola", "foma",
                            "docomo", "up.browser", "up.link", "blazer", "helio", "hosin",
                            "huawei", "novarra", "coolpad", "webos", "techfaith",
                            "palmsource", "alcatel", "amoi", "ktouch", "nexian",
                            "ericsson", "philips", "sagem", "wellcom", "bunjalloo", "maui",
                            "smartphone", "iemobile", "spice", "bird", "zte-", "longcos",
                            "pantech", "gionee", "portalmmm", "jig browser", "hiptop",
                            "benq", "haier", "^lct", "320x320", "240x320", "176x220",
                            "w3c ", "acs-", "alav", "alca", "amoi", "audi", "avan", "benq",
                            "bird", "blac", "blaz", "brew", "cell", "cldc", "cmd-", "dang",
                            "doco", "eric", "hipt", "inno", "ipaq", "java", "jigs", "kddi",
                            "keji", "leno", "lg-c", "lg-d", "lg-g", "lge-", "maui", "maxo",
                            "midp", "mits", "mmef", "mobi", "mot-", "moto", "mwbp", "nec-",
                            "newt", "noki", "oper", "palm", "pana", "pant", "phil", "play",
                            "port", "prox", "qwap", "sage", "sams", "sany", "sch-", "sec-",
                            "send", "seri", "sgh-", "shar", "sie-", "siem", "smal", "smar",
                            "sony", "sph-", "symb", "t-mo", "teli", "tim-", /*"tosh",*/ "tsm-",
                            "upg1", "upsi", "vk-v", "voda", "wap-", "wapa", "wapi", "wapp",
                            "wapr", "webc", "winw", "winw", "xda", "xda-", "Googlebot-Mobile"];
                        var flag          = true;
                        for (var v = 0; v < Agents.length; v++) {
                            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                                flag = false;
                                break;
                            }
                        }
                        return flag;
                    }
                    if (!IsPC()) {
                        if(getUrlRelativePath() == '/'){
                            location.href = '/m/index'
                        }else{
                            location.href = '/m'+getUrlRelativePath()+''
                        }

                    }
