extends ~index/common/base.pug
block append head
    link(rel="stylesheet" href="/static/lib/swiper/swiper.css")

block append scripts
    script(src="/static/assets/echarts-4.1.1/dist/echarts.min.js")
    script(src="/static/lib/swiper/swiper.js")
